.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toprow {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.nftcontainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  border: 1px solid var(--color-text-grey);
  border-radius: 20px;
  padding: 1rem;
  flex-basis: 202%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.link {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: var(--border-radius);
}


.nftcontainerNoBorder {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 1rem;
  flex-basis: 202%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.formContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-text-grey);
  border-radius: var(--border-radius);
  padding: 2rem;
  min-width: 29rem;
}

.formContainer2 {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-text-grey);
  border-radius: var(--border-radius);
  padding: 2rem;
}

.formContainer3 {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-text-grey);
  border-radius: var(--border-radius);
  padding: 2rem;
  width: 100%;
}

.addsolprice button {
  background-color: white;
  color: var(--color-text-dark);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  height: 30px;
  font-weight: bold;
  margin-top: 1rem;
}


.formContainer button {
  background-color: white;
  color: var(--color-text-dark);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  height: 30px;
  font-weight: bold;
  margin-top: 1rem;
}

.error {
  color: red;
  padding: 1rem 0rem;
}

.addsolprice {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
  gap: 2rem;
  width: 100%;
}

.actions button {
    background-color: white;
    color: var(--color-text-dark);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-weight: bold;
    margin-top: 1rem;
}

.actions button:disabled {
  background-color: rgb(24, 24, 24);
  color: var(--color-text-grey);
  cursor: not-allowed;
}

.success {
  border: 1px solid green;
}

.error {
  border: 1px solid red;
}

.messageSuccess {
  color: green;
}

.messageError {
  color: red;
}