
.container {
  display: flex;
  justify-content: center;
}

.container a {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: var(--border-radius);
}


.table {
  border-radius: 20px;
  padding: 1rem;
  margin: 2rem 0rem 3rem;
  width: 100%;
  text-align: center;
}

.table table {
  width: 100%;
  text-align: match-parent;
}

.table th {
  background-color: var(--card-gray);
  color: var(--color-text-light);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.table a td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--card-gray);
}

.table tbody a{
  margin-top: 1rem;
}