
.container {
  display: flex;
  justify-content: center;
}

.link {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: var(--border-radius);
}


.table {
  border-radius: 20px;
  margin: 2rem 0rem 3rem;
  width: 100%;
  text-align: center;
  background-color: var(--background-gray);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
}

.table th {
  background-color: var(--card-gray);
  color: var(--color-text-light);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.table tbody tr:nth-child(even) {
  background-color: var(--color-table); 
}
.table tbody td {
  border: 1px solid var(--card-gray);
}


.table tbody td a {
  color: var(--color-primary); 
}

.table tbody td a:hover {
  text-decoration: underline; 
}

.table tbody td a.add-prizes:hover {
  color: var(--color-accent);
}