

.card #card-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: var(--border-radius);
  padding: 2rem;
  color: var(--color-text-light);
  background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(40,40,40,1) 100%);
  padding-top: 3rem;
  min-width: 15rem;
}

.card section {
  display: flex;
}

.card .lastsection {
  flex-direction: column;

}

.card .middlesection {
  gap: 2rem;
}

.card .imagesection {
  justify-content: center;
}

.card hr {
  border-color: var(--background-gray);
}

.cardcolumn {
  display: flex;
  flex-direction: column;
}

.buysection {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.buybutton {
  display: flex;
  gap: 1rem;
}
.buybutton button {
  background-color: white;
  color: var(--color-text-dark);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buybutton button:disabled {
  background-color: rgb(24, 24, 24);
  color: var(--color-text-grey);
  cursor: not-allowed;
}

.ticketlabel {
  color: var(--color-text-grey);

}

.iconwrapper {
  display: flex;
  justify-content: center;
  transform: translateY(2rem);
}