@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}

.cardcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 1rem;
}


.sortButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0rem;
  gap: 3rem;
}

.sortButtons button {
  background: none;
  color: var(--color-text-grey);
  border: none;
  font-size: 18px;
  cursor: pointer;
  min-width: 6rem;
}
.sortButtons span {
  font-size: 18px;
  color: var(--color-text-grey);
}

.active {
  color: white !important;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.container a {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.button {
  border: 1px solid gray;
  color: var(--color-text-dark);
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.button:disabled {
  cursor: not-allowed;
  background: var(--background-gray);
  color: white;
  border: 1px solid gray;

}