.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-text-grey);
  border-radius: var(--border-radius);
  padding: 2rem;
  width: 100%;
}

.buysection {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.buysection input[type="number"] {
  text-align: center;
  border-radius: var(--border-radius);
  background-color: transparent;
  width: 30%;
  border-color: var(--color-text-light);
  color: var(--color-text-light);
  border: 1px solid white;
  outline: none;
  height: 30px;
}

.buysection button {
  background-color: var(--background-gray);
  color: var(--color-text-grey);
  border: none;
  border-radius: var(--border-radius);
  width: 50px;
  cursor: pointer;
}

.buybutton button {
  background-color: white;
  color: var(--color-text-dark);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-weight: bold;
  margin-top: 1rem;
}