
.card {
  background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(40,40,40,1) 100%);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  border: 1px solid var(--color-table);
  filter: brightness(80%);
  max-height: 180px;
  max-width: 130px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.name, .prize {
  font-weight: bold;
}

.address {
  color: #888888;
  margin-top: 5px;
}

.card .prize {
  font-size: xx-large;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.borderRed100 {
  border-color: #ff0000;
}

.borderRed90 {
  border-color: #ff0400;
}

.borderRed80 {
  border-color: #ff1e00;
}

.borderRed70 {
  border-color: #ff4400;
}

.borderRed60 {
  border-color: #ff5500;
}

.borderRed50 {
  border-color: #ff6f00;
}

.borderRed40 {
  border-color: #ff8800;
}

.borderRed30 {
  border-color: #ffae00;
}

.borderRed20 {
  border-color: #decc00;
}

.borderRed10 {
  border-color: #4e4e4e;
}