.ticketsSection {
  padding: 20px;
}

.ticketTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ticketTable th,
.ticketTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--card-gray);
}

.ticketTable th {
  background-color: var(--card-gray);
  color: var(--color-text-light);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.ticketTable td button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
}

.ticketTable td button:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.container a {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: var(--border-radius);
}

